<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/lugares">Lugares</a></li>
    <li class="breadcrumb-item active" aria-current="page">CrearNegocio</li>
  </ol>
</nav>

<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<form (ngSubmit)="guardarLugar()" #heroForm="ngForm">
		  	  <div class="form-group row">
			    <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre..." [(ngModel)]="lugar.nombre">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="plan" class="col-sm-2 col-form-label">Plan</label>
			    <div class="col-sm-10">
					<!-- Rounded switch -->
					<ui-switch color="#103673" id="distancia" name="distancia" [(ngModel)]="lugar.plan"></ui-switch>

			    </div>
			  </div>
 		  	  <div class="form-group row">
			    <label for="distancia" class="col-sm-2 col-form-label">Distancia</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="distancia" name="distancia" placeholder="Distancia..." [(ngModel)]="lugar.distancia"/>
			    </div>
			  </div>
   		  	  <div class="form-group row">
			    <label for="distancia" class="col-sm-2 col-form-label">Descripción</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripción..." [(ngModel)]="lugar.descripcion"/>
			    </div>
			  </div>
			  <fieldset class="form-group">
			    <div class="row">
			      <legend class="col-form-label col-sm-2 pt-0">Cercanía</legend>
			      <div class="col-sm-10">
			        <div class="form-check">
			          <input class="form-check-input" type="radio" name="gridRadios" id="muyCerca" value="1" checked [(ngModel)]="lugar.cercania"/>
			          <label class="form-check-label" for="muyCerca">
			            Muy Cerca
			          </label>
			        </div>
			        <div class="form-check">
			          <input class="form-check-input" type="radio" name="gridRadios" id="cerca" value="2" [(ngModel)]="lugar.cercania">
			          <label class="form-check-label" for="cerca">
			            Cerca
			          </label>
			        </div>
			        <div class="form-check disabled">
			          <input class="form-check-input" type="radio" name="gridRadios" id="lejos" value="3" [(ngModel)]="lugar.cercania">
			          <label class="form-check-label" for="lejos">
			            Lejos
			          </label>
			        </div>
			      </div>
			    </div>	    
			  </fieldset>

			  <div class="form-group row">
			    <label for="distancia" class="col-sm-2 col-form-label">Calle</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="calle" name="calle" placeholder="Calle..." [(ngModel)]="lugar.calle"/>
			    </div>
			  </div>
  			  <div class="form-group row">
			    <label for="distancia" class="col-sm-2 col-form-label">Cuidad</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Cuidad..." [(ngModel)]="lugar.ciudad"/>
			    </div>
			  </div>
   			  <div class="form-group row">
			    <label for="distancia" class="col-sm-2 col-form-label">País</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="pais" name="pais" placeholder="País..." [(ngModel)]="lugar.pais"/>
			    </div>
			  </div>			  

			  <div class="form-group row">
			    <div class="col-sm-10">
			      <button type="submit" class="btn btn-primary" name="aceptar" id="guardar" [disabled]="!heroForm.form.valid">Guardar</button>
			    </div>
			  </div>
			</form>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<form>
  			  <h4>Datos de Dirección</h4>
		 	  <h5>Buscar Dirección en Google Maps</h5>
			  <input type="text" [formControl]="searchField" class="form-control"/>
			</form>
			<ul class="list-group" *ngIf="searchField.value !== ''">
				<a class="list-group-item list-group-item-action" *ngFor="let result of results$ | async" (click)="asignarDireccion(result)">
					{{result.formatted_address}}
				</a> 
			</ul>
		</div>
	</div>
</div>



<!-- Modal -->
<div class="modal fade" role="dialog" [ngStyle]="{'display': display ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">AVISO</h5>
        <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Grardado con éxito.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()">CERRAR</button>
      </div>
    </div>
  </div>
</div>